<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harry_000.icshop" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".categorySearchActivity"
            android:label="@string/title_activity_category_search" >
        </activity>
        <activity
            android:name=".BrandListActivity"
            android:label="@string/title_activity_brand_list" >
        </activity>
        <activity
            android:name=".BrandStoresActivity"
            android:label="@string/title_activity_brand_stores" >
        </activity>
        <activity
            android:name=".StoreDetailActivity"
            android:label="@string/title_activity_store_detail" >
        </activity>
    </application>

</manifest>
